{% extends "main/layout.html" %}
{% block body %}

<style>
    .modal-body p{
        display: inline-block;
    }
</style>

<div>
    <a style="display: block;margin: 10px;" href="{% url 'main:add-driver' %}"
    type="button" class="btn btn-outline-primary btn-lg">اضافه کردن راننده</a>

    <div class="list-group">
        {% for driver in drivers %}
        <div class="list-group-item list-group-item-action" 
        aria-current="true">        
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h6 class="mb-1">نام : {{ driver.name }}</h6>
                    
                    <i>خودرو : {{ driver.car }}</i>
                </div>
                <div style="align-self: center;">
                    <span class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal" 
                    data-bs-id="{{driver.id}}" 
                    data-bs-name="{{driver.name}}" 
                    data-bs-services="{{driver.services}}" 
                    data-bs-startdate="{{driver.startdate}}" 
                    data-bs-car="{{driver.car}}" 
                    data-bs-plq="{{driver.plq}}" ><i class="fa fa-info" aria-hidden="true"></i></span>
                    <a class="btn btn-outline-danger" href="{% url 'main:delete-driver' id=driver.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a  class="btn btn-outline-primary" href="{% url 'main:edit-driver' id=driver.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </div>
                

            </div>

        </div>
        {% empty %}
        <div class="list-group-item" >راننده ای ثبت نشده</div>
        {% endfor %}

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">نمایش راننده</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"></h5>
            </div>
            نام راننده : <p class="mb-1" id="name"></p><br>
            تاریخ شروع به کار : <p class="mb-1" id="startdate"></p><br>
            خودرو : <p class="mb-1" id="car"></p><br>
            پلاک : <p class="mb-1" id="plq"></p> <br>
            سرویس ها :  <br> <p class="mb-1" id="services"></p>  
        </div>
        <div class="modal-footer" style="width: 100%;" >
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">تموم</button>
        </div>
    </div>
    </div>
</div>


<script>
    var modal = document.getElementById('modal')
    modal.addEventListener('show.bs.modal', function (event) {
        
    
    var button = event.relatedTarget
    var id = button.getAttribute('data-bs-id')
    var dname = button.getAttribute('data-bs-name')
    var dstartdate = button.getAttribute('data-bs-startdate')
    var dservices = button.getAttribute('data-bs-services')
    var dcar = button.getAttribute('data-bs-car')
    var dplq = button.getAttribute('data-bs-plq')

    var name = modal.querySelector('.modal-body #name')
    var startdate = modal.querySelector('.modal-body #startdate')
    var services = modal.querySelector('.modal-body #services')
    var car = modal.querySelector('.modal-body #car')
    var plq = modal.querySelector('.modal-body #plq')

    
    name.textContent = dname
    startdate.textContent = dstartdate
    services.textContent = dservices
    car.textContent = dcar
    plq.textContent = dplq
/*

    name.textContent = dtitle
    date.textContent = ddate
    if(ddone === "True"){
        
        div = modal.querySelector(".modal-body #div-done")
        div.style.display = 'block'
        by.textContent = dby
        finishdate.textContent = dfinishdate
        nday.textContent = dnday
        if (dpaid === "True"){
            paid.textContent = "تصفیه شده"
        }else{
            /*check.style.display = 'inline-block'
            checklb.style.display = 'inline-block'
            paid.textContent = "تصفیه نشده"
        }
    }else{
        div = modal.querySelector(".modal-body #div-done")
        div.style.display = 'none'
    }
    price.textContent = dprice
    fee.textContent = dfee

    if(ddes === "None"){
        ddes = ""
    }
    des.textContent = ddes
    if (vdone){
        done.textContent = "انجام شده"
    }else{
        done.textContent = "انجام نشده"
    }

    */
})
</script>

{% endblock %}